{% assign title = section.settings.section_title %}
{% assign title_image = section.settings.title_image %}
{% assign pretext = section.settings.section_pretext %}
{% assign subtitle = section.settings.section_subtitle %}
{% assign display_text_over_video = section.settings.display_text_over_video %}
{% assign button1_label = section.settings.button1_label %}
{% assign button2_label = section.settings.button2_label %}
{% assign caption_background = section.settings.caption_background %}
{% assign caption_background_transparency = section.settings.caption_background_transparency %}
{% assign text_align = section.settings.text_align %}
{% assign button1_link = section.settings.button1_link %}
{% assign button2_link = section.settings.button2_link %}
{% assign text_position = section.settings.text_position %}
{% if title != blank %}
  <h2 class="headline">
    <img src="https://cdn.shopify.com/s/files/1/0101/8078/8283/files/allen-icon.svg" alt="allen sports">
    {{ title }}
  </h2>
{% endif %}
{% if pretext != blank %}
  <div class="pretext">
    {{ pretext | strip_html }}
  </div>
{% endif %}
{% if subtitle != blank %}
  <div class="subtitle">
    {{ subtitle }}
  </div>
{% endif %}
{%- if template != "index" -%}
  {% assign video = section.settings.video %}
  {% assign aspect_ratio = section.settings.aspect_ratio %}
  {% assign source = section.settings.source %}
  {% assign mp4 = section.settings.mp4 %}
  {% assign ogv = section.settings.ogv %}
  {% assign video_dark_overlay = section.settings.video_dark_overlay %}
  {% assign image = section.settings.image %}
  {% assign autoplay = section.settings.autoplay %}
  {% assign id = section.settings.id %}
  <section
    class="homepage-video darken-video-{{ video_dark_overlay }}  placeholder-image--{% if image %}true{% else %}false{% endif %}"
    data-video-id="video-{{id}}"
    data-autoplay="{{ autoplay }}"
    data-autoloop="{{ autoloop }}"
    data-display-text-over-video="{{ display_text_over_video }}"
    data-poster-image="{% if image %}{{ image | img_url: '1500x' }}{% else %}false{% endif %}"
    data-video-src="{{ video.id }}"
    data-aspect-ratio="{{ aspect_ratio }}"
    data-provider="{{ source }}"
    data-video-mp4="{{ mp4 }}"
    data-video-ogv="{{ ogv }}">
    <div class="homepage-video--media">
      {% if image %}
        <img
          src="{{ image | img_url: '100x', format: 'pjpg' }}"
          alt="{% if image.alt != blank %}{{ image.alt | escape }}{% else %}{{ title | escape }}{% endif %}"
          class="lazyload {{ settings.image_loading_style }} homepage-video__image"
          data-play-video
          sizes="100vw"
          data-src="{{ image | img_url: default, format: 'pjpg' }}"
          srcset="
                     {{ image | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
                     {{ image | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
                     {{ image | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
                     {{ image | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
                     {{ image | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
                     {{ image | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
                     {{ image | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
                     {{ image | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
                     {{ image | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
                     {{ image | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
                     {{ image | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}" />
      {% else %}

        <div class="homepage-video__placeholder" data-play-video>
          {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--video' }}
        </div>
      {% endif %}
      <div class="video-overlay">
          <!-- <i class="fa fa-play" aria-hidden="true"></i> -->
        <img
          src="https://cdn.shopify.com/s/files/1/0101/8078/8283/files/play-btn.png"
          class="play-video-btn"
          alt="video play btn" />
      </div>
      {% unless pretext == blank and title == blank and subtitle == blank and button1_label == blank and button2_label == blank %}
        <div class="position-{{ text_position }} caption js-caption text-on-video text-on-video--{{ display_text_over_video }}">
          <div class="caption-content
                      caption-background-{{caption_background}}
                      caption-transparency-{{ caption_background_transparency }}
                      align-{{text_align}}">
</div>
        </div>
      {% endunless %}
    </div>
  </section>
{%- else -%}
  <div class="featured-videos-wrapper js-featured-video-slider">
    {%- for block in section.blocks -%}
      {%- assign object = block -%}
      {% assign video = object.settings.video %}
      {% assign aspect_ratio = object.settings.aspect_ratio %}
      {% assign source = object.settings.source %}
      {% assign mp4 = object.settings.mp4 %}
      {% assign ogv = object.settings.ogv %}
      {% assign video_dark_overlay = object.settings.video_dark_overlay %}
      {% assign image = object.settings.image %}
      {% assign autoplay = object.settings.autoplay %}
      {% assign id = object.settings.id %}
      <div class="video-slide">
        <section
          class="homepage-video darken-video-{{ video_dark_overlay }}  placeholder-image--{% if image %}true{% else %}false{% endif %}"
          data-video-id="video-{{id}}"
          data-autoplay="{{ autoplay }}"
          data-autoloop="{{ autoloop }}"
          data-display-text-over-video="{{ display_text_over_video }}"
          data-poster-image="{% if image %}{{ image | img_url: '1500x' }}{% else %}false{% endif %}"
          data-video-src="{{ video.id }}"
          data-aspect-ratio="{{ aspect_ratio }}"
          data-provider="{{ source }}"
          data-video-mp4="{{ mp4 }}"
          data-video-ogv="{{ ogv }}">
          <div class="homepage-video--media">
            {% if image %}
              <img
                src="{{ image | img_url: '100x', format: 'pjpg' }}"
                alt="{% if image.alt != blank %}{{ image.alt | escape }}{% else %}{{ title | escape }}{% endif %}"
                class="lazyload {{ settings.image_loading_style }} homepage-video__image"
                data-play-video
                sizes="100vw"
                data-src="{{ image | img_url: default, format: 'pjpg' }}"
                srcset="
                     {{ image | img_url: default, format: 'pjpg' }} {{default | replace: 'x', 'w'}},
                     {{ image | img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
                     {{ image | img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
                     {{ image | img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}},
                     {{ image | img_url: size4, format: 'pjpg' }} {{size4 | replace: 'x', 'w'}},
                     {{ image | img_url: size5, format: 'pjpg' }} {{size5 | replace: 'x', 'w'}},
                     {{ image | img_url: size6, format: 'pjpg' }} {{size6 | replace: 'x', 'w'}},
                     {{ image | img_url: size7, format: 'pjpg' }} {{size7 | replace: 'x', 'w'}},
                     {{ image | img_url: size8, format: 'pjpg' }} {{size8 | replace: 'x', 'w'}},
                     {{ image | img_url: size9, format: 'pjpg' }} {{size9 | replace: 'x', 'w'}},
                     {{ image | img_url: size10, format: 'pjpg' }} {{size10 | replace: 'x', 'w'}}" />
            {% else %}

              <div class="homepage-video__placeholder" data-play-video>
                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg placeholder-svg--video' }}
              </div>
            {% endif %}
            <div class="video-overlay">
                <!-- <i class="fa fa-play" aria-hidden="true"></i> -->
              <img
                src="https://cdn.shopify.com/s/files/1/0101/8078/8283/files/play-btn.png"
                class="play-video-btn"
                alt="video play btn" />
            </div>
            {% unless pretext == blank and title == blank and subtitle == blank and button1_label == blank and button2_label == blank %}
              <div class="position-{{ text_position }} caption js-caption text-on-video text-on-video--{{ display_text_over_video }}">
                <div class="caption-content
                      caption-background-{{caption_background}}
                      caption-transparency-{{ caption_background_transparency }}
                      align-{{text_align}}">
</div>
              </div>
            {% endunless %}
          </div>
        </section>
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}
<div class="center margin-top50">
  {% if button1_label != blank %}
    <a
      {% if button1_link != blank %}
      href="{{ button1_link }}"
      {% else %}
      data-play-video-button{% endif %}
      class="shop-video-btn">
      {{ button1_label }}
    </a>
  {% endif %}
  {% if button2_label != blank %}
    <a
      {% if button2_link != blank %}
      href="{{ button2_link }}"
      {% else %}
      data-play-video{% endif %}
      class="shop-video-btn">
      {{ button2_label }}
    </a>
  {% endif %}
</div>

<style>
  .video-overlay {
    top: 28%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  @media screen and (max-width: 768px) {
    .custom-homepage-video-section-2 .subtitle p {
      color: #474747;
      font-size: 18px;
    }
    .custom-homepage-video-section-2 .subtitle {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 600px) {

    .video-overlay {
      top: 20%;
    }
  }
  @media screen and (max-width: 475px) {
    .video-overlay {
      top: 25%;
    }
    .video-overlay img {
      width: 120px;
      height: 120px;
    }
  }
  @media screen and (max-width: 375px) {
    .video-overlay {
      top: 32%;
    }
    .video-overlay img {
      width: 80px;
      height: 80px;
    }

  }
  {% if autoplay %}
    .homepage-video__placeholder {
      visibility: hidden;
    }
  {% endif %}
</style>