<div id="offerPopup" class="modal modal--square offer-modal" data-count="{{ settings.offer_collection.products.size }}">
  <div class="modal__inner DealModal">
    <div class="modal__centered page-width text-center">
      <div class="modal__centered-content">
        <div class="deal-wrapper deal-wrapper--modal">
          {% assign collection = settings.offer_collection %}
          <div class="offer-popup-wrapper">
            <div class="popup-heading">
              <h2>{{ settings.offer_heading }}</h2>
              <div class="description">
                {{ settings.gwp_paragraph }}
              </div>
            </div>
            <div class="offer-popup">
              {% for product in collection.products %}
                {% if product.available %}
                {%- assign img_url = product.featured_image | img_url: 'MASTER' -%}
                <div class="offer-wrapper">
                  <input 
                    type="radio"
                    value="{{ product.selected_or_first_available_variant.id }}"
                    name="group"
                    id="value-{{ product.id }}"
                    {% comment %}
                    {% if forloop.first %}checked{% endif %}
                    {% endcomment %}
                  >
                  <label class="product" for="value-{{ product.id }}">
                    <div class="product-image">
                      {% assign preview_image = product.featured_media.preview_image %}
                      {% if preview_image != blank %}
                      {%- render 'image-element',
                        img: preview_image,
                        classes: image_classes,
                        sizes: sizes,
                        sizeVariable: sizeVariable,
                        fallback: fallback,
                        widths: ' 360'
                      -%}
                     {% else %}
                         {%- capture placeholder -%}product-{% cycle 1, 2, 3, 4, 5, 6 %}{%- endcapture -%}
                         <div class="product-image--placeholder">{{ 'product-4' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                     {% endif %} 
                    </div>
                    <span class="offer_product_title">{{ product.title | split :':' | last }}</span>
                    <div class="product-price">
                      <free>Free </free><span class="line_price">{% render 'price' with product.price %}</span>
                    </div>
                  </label>
                </div>
                {% endif %}  
              {% endfor %}
            </div>
            <div class="offer-btn">
              <button class="btn btn_normal add-to-cart js-deal-add" disabled>{{ settings.offer_btn1 }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn_normal btn_hover_red btn--circle btn--icon modal__close js-modal-close">
      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 64 64">
        <defs><style>.cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:2px}</style></defs><path class="cls-1" d="M19 17.61l27.12 27.13m0-27.13L19 44.74"/>
      </svg>
      <span class="icon__fallback-text">Close</span>
    </button>
  </div>
</div>