{% # components v2.10.64 | Copyright © 2024 Archetype Themes Limited Partnership  | "Shopify Theme Store (https://www.shopify.com/legal/terms#9-additional-services)" License  %}
{%- comment -%}
  Renders a testimonials section.

  Accepts:
  - align_text {'left'|'center'|'right'} - The alignment of the text
  - round_images {boolean} - Whether to round the images
  - hydration {string} - The hydration strategy for the section

  Usage:
  {% render 'section-testimonials' %}
{%- endcomment -%}

{%- liquid
  assign align_text = align_text | default: section.settings.align_text | default: 'center'
  assign round_images = round_images | default: section.settings.round_images, allow_false: true | default: true, allow_false: true
  assign hydration = hydration | default: 'on:idle'

    assign class_name = 'testimonials-' | append: section.id
    render 'color-scheme-override', class_name: class_name
-%}
<is-land {{ hydration }}>
  <testimonials-components
    class="testimonials-section testimonials-{{ section.id }} text-{{ align_text }}"
    data-section-id="{{ section.id }}"
    data-section-type="testimonials"
  >

      {% if section.settings.subheading != blank %}
      <div class="subheading comn_subheading">{{ section.settings.subheading }}</div>
      {% endif %}
      
      {% if section.settings.heading != blank %}
      <div class="heading comn_heading">{{ section.settings.heading }}</div>
      {% endif %}

      <div class="slideshow-wrapper">
        <div
          class="testimonials-slider"
          id="Testimonials-{{ section.id }}"
          data-dots="true"
          data-count="{{ section.blocks.size }}"
        >
          {%- for i in (1..5) -%}
            <div
              class="testimonials-slide"
              data-index="{{ forloop.index0 }}"
              {{ block.shopify_attributes }}
            >
              <blockquote class="testimonials-slider__text">
                  <div class="testimonial-pro-name">Bike Rack for the family 1</div>                
                  <span class="testimonial-stars">★★★★★</span>
                  <div class="rte-setting text-spacing author_desc">
                    <p>Great Memorial Day Weekend with the family! My rack went onto the truck in minutes. It was extremely secure with an adult and kids bike. When we got home it was just as easy to get off and stash away in our trunk. The family loved it.></p></div>           
                  <div class="author_placeholder">CM</div>                
                  <cite>Author's name</cite>               
                  <div class="testimonials__info">Los Angeles, CA</div>
              </blockquote>
            </div>
          {%- endfor -%}
        </div>
      </div>
  </testimonials-components>

  <template data-island>
    {% comment %} <script type="module">
      import 'components/section-testimonials'
    </script> {% endcomment %}
  </template>
</is-land>
