{% comment %}
** FAQ page - custom view **
- Page template
- Uses blocks
{% endcomment %}

<div class="allen_car_main swirl_bg">
  <div class="allen_car_wrp page-width">
    <div class="allen_car_inner">

        {% if section.settings.show_banner %}
        	{% include "allen-care-page-header" %}
        {% endif %}
        <!-- <a name="pagecontent" id="pagecontent"></a> -->
        
        <div class="containerr main content">
          <div class="">
          <div class="sixteen columns page clearfix">
            {% unless section.settings.show_banner %}
              <h1>
                {{ page.title }}
              </h1>
              <div class="feature_divider"></div>
            {% endunless %}
            <div>
              {% include 'page-multi-column', content: page.content %}
            </div>
          </div>
          <div class="faq-accordian">
            <div class="faq-work-content">
              {% if section.blocks.size > 0 %}
              <script>
              faq_data = [];
            </script>
              <dl class="faqAccordion allen-care-faq">
                {% for block in section.blocks %}
                <script>
                  faq_data.push({id: "{{block.id}}", name: "{{block.settings.title}}", value: "{{ block.settings.title | handleize }}"});
                </script>
                {% if block.type == "heading" %}
                {% if block.settings.heading != blank %}
                <h2 class="title">{{ block.settings.heading }}</h2>
                {% endif %}
                {% endif %}
                {% if block.settings.title != blank %}
                <dt><button type="button" id="{{ block.settings.title | handleize }}"  aria-controls="panel-01" aria-expanded="true">{{ block.settings.title }}</button></dt>
                <dd id="panel-01" aria-hidden="false">
                  {{ block.settings.subtitle }}
                </dd>
                {% endif %}
                {% endfor %}
              </dl>
              <script>
                //       faq_data = faq_data.replace(/,\s*$/, "");      
                faq_list = JSON.stringify(faq_data);      
              </script>
              {% endif %}
              <div class="faq-viewmore">
               <a href="{{ section.settings.view_faq_link | default:"javascript:;"}}" class="faq-viewmore-link" aria-label="view-more-link">{{ section.settings.view_faq_title }}</a>
               <img src="https://cdn.shopify.com/s/files/1/0101/8078/8283/files/shape-border.png" alt="allen sports">
              </div>      
              <div class="faq-help-link">
                <h3 class="page-title">{{ section.settings.contact_btn_title }}</h3>
                {{ section.settings.contact_message }}
              </div>
            </div>
           
            
          </div>
          </div>
        </div>

    </div>
  </div>
</div>
<style>
  {% if section.settings.show_banner %}
    .mobile_nav-fixed--true #pagecontent, .mobile_nav-fixed--false #pagecontent {
      padding: 0;
    }
    @media only screen and (max-width: 479px) {
      div.content {
        padding-top: 0;
      }
    }
  {% endif %}
</style>

{% schema %}

{
  "name": "t:labels.faqs",
  "class": "page-allen-care-faq",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_banner",
      "label": "t:labels.show_banner",
      "default": true
    },
	{
      "type": "checkbox",
      "id": "show_search",
      "label": "t:labels.show_search",
      "default": false
    },
	{
      "type": "image_picker",
      "id": "bg_img",
      "label": "Background Image",
      "info": "t:labels.background_image"
    },
    {
      "type": "image_picker",
      "id": "right_bg_img",
      "label": "t:labels.right_bg_img",
      "info": "t:labels.right_bg_img"
    },
	{
      "type": "image_picker",
      "id": "left_bg_img",
      "label": "t:labels.left_bg_img",
      "info": "t:labels.left_bg_img"
    },	
	{
      "type": "color",
      "id": "bg_color",
      "label": "t:labels.background-color",
      "info": "t:labels.background-color",
	   "default":"#ea1d2d"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:labels.header"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "t:labels.subheading"
    },
	{
      "type": "select",
      "id": "text_position",
      "label": "t:labels.text_position",
      "options": [
        {
          "value": "t:labels.left-value",
          "label": "t.labels.left"
        },
        {
          "value": "t:labels.center-value",
          "label": "t.labels.center"
        },
        {
          "value": "t:labels.right-value",
          "label": "t.labels.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "t:labels.text_alignment",
      "options": [
        {
          "value": "t:labels.left-value",
          "label": "t.labels.left"
        },
        {
          "value": "t:labels.center-value",
          "label": "t.labels.center"
        },
        {
          "value": "t:labels.right-value",
          "label": "t.labels.right"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:labels.faq-section"
    },
    {
      "type": "text",
      "id": "faq_heading",
      "label": "t:labels.faq_heading",
      "default": "t:labels.faq_heading-default"
    },
	{
      "type": "text",
      "id": "view_faq_title",
      "label": "t:labels.view_faq_title",
      "default": "t:labels.view_faq_title-default"
    },
	{
      "type": "url",
      "id": "view_faq_link",
      "label": "t:labels.view_faq_link"      
    },
	{
      "type": "header",
      "content": "t:labels.contact-button"     
    },
	{
      "type": "text",
      "id": "contact_btn_title",
      "label": "t:labels.contact_btn_title",
      "default": "t:labels.contact_btn_title-de"
    },
	{
      "type": "richtext",
      "id": "contact_message",
      "label": "t:labels.contact-message"
    }
  ],
  "blocks": [
	{
      "name": "t:labels.heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:labels.heading",
          "default": "t:labels.title"
        }
      ]
    },
    {
      "name": "t:labels.Faq",
      "type": "Content",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "t:labels.question",
          "default": "t:labels.title"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "t:labels.answer",
          "default": "t:labels.subtitle-default"
        }
      ]
    }
  ],
  "presets":[ {
    "name": "t:labels.faqs",
    "settings": {
      "title": "t:labels.page-faq-template",
      "subtitle": "<p>Create an amazing FAQ page with a full-width banner</p>",
      "text_position": "t:labels.center-value",
      "text_align": "t:labels.center-value"
    },
    "blocks": [
      {
        "type": "Content",
        "settings": {
          "title": "t:labels.title",
          "subtitle": "<p>Suspendisse feugiat. Fusce commodo aliquam arcu. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</p>"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "t:labels.title",
          "subtitle": "<p>Suspendisse feugiat. Fusce commodo aliquam arcu. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</p>"
        }
      },
      {
        "type": "Content",
        "settings": {
          "title": "t:labels.title",
          "subtitle": "<p>Suspendisse feugiat. Fusce commodo aliquam arcu. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi.</p>"
        }
      }      
    ]
  }
  ]
}

{% endschema %}
