
<style>
  #shopify-section-{{ section.id }} .testimonials_main{
    {% if section.settings.section_padding_desktop != blank %}
      padding: {{ section.settings.section_padding_desktop }};
    {% endif %}
    {% if section.settings.section_margin_desktop != blank %}
      margin: {{ section.settings.section_margin_desktop }};
    {% endif %}
    {% if section.settings.section_bg_color != blank %}
        background: {{section.settings.section_bg_color}};
    {% endif %}
  }
  #shopify-section-{{ section.id }} .subheading{
    color: {{ section.settings.subheading_text_color }};
  }
  #shopify-section-{{ section.id }} .heading{
    color: {{ section.settings.heading_text_color }};
  }
  @media(max-width: 768px){
    #shopify-section-{{ section.id }} .testimonials_main{
      {% if section.settings.section_padding_mobile != blank %}
        padding: {{ section.settings.section_padding_mobile }};
      {% endif %}
      {% if section.settings.section_margin_mobile != blank %}
        margin: {{ section.settings.section_margin_mobile }};
      {% endif %}
    }
  }
</style>

<div class="testimonials_main swirl_bg">
  <div class="testimonials_wrp">
    {%- render 'section-testimonials' -%}
  </div>
</div>

{% schema %}
{
"name": "t:labels.testimonials",
"max_blocks": 9,
"settings": [
      {
        "type":"header",
        "content":"t:labels.subheading"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "t:labels.subheading"
      },
      {
        "type": "color",
        "id": "subheading_text_color",
        "label": "t:labels.subheading_text_color"
      },
      {
        "type":"header",
        "content":"t:labels.heading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "t:labels.heading"
      },
      {
        "type": "color",
        "id": "heading_text_color",
        "label": "t:labels.heading_text_color"
      },
      {
        "type": "select",
        "id": "align_text",
        "label": "t:labels.text_alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "t:labels.alignments.left"
          },
          {
            "value": "center",
            "label": "t:labels.alignments.centered"
          },
          {
            "value": "right",
            "label": "t:labels.alignments.right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "round_images",
        "label": "t:labels.circular_images",
        "info": "t:info.requires_square_images",
        "default": true
      },
      {
         "type": "color",
         "id": "section_bg_color",
         "label": "t:labels.section_bg_color"
      },
      {
        "type": "header",
        "content": "t:labels.spacing"
      },
      {
        "type": "text",
        "id": "section_padding_desktop",
        "label": "t:labels.section_padding_desktop"
      },
      {
        "type": "text",
        "id": "section_padding_mobile",
        "label": "t:labels.section_padding_mobile"
      },
      {
        "type": "text",
        "id": "section_margin_desktop",
        "label": "t:labels.section_margin_desktop"
      },
      {
        "type": "text",
        "id": "section_margin_mobile",
        "label": "t:labels.section_margin_mobile"
      },
],
"blocks": [
  {
    "type": "testimonial",
    "name": "t:labels.testimonial",
    "settings": [
      {
        "type": "text",
        "id": "testimonial-pro-name",
        "label": "t:labels.product",
        "default": "t:labels.testimonial-pro-name"
      },
      {
        "type": "select",
        "id": "icon",
        "label": "t:labels.icon",
        "default": "5-stars",
        "options": [
          {
            "value": "none",
            "label": "t:labels.none"
          },
          {
            "value": "quote",
            "label": "t:labels.quote"
          },
          {
            "value": "5-stars",
            "label": "t:labels.stars.5_stars"
          },
          {
            "value": "4-stars",
            "label": "t:labels.stars.4_stars"
          },
          {
            "value": "3-stars",
            "label": "t:labels.stars.3_stars"
          },
          {
            "value": "2-stars",
            "label": "t:labels.stars.2_stars"
          },
          {
            "value": "1-star",
            "label": "t:labels.stars.1_star"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "testimonial",
        "label": "t:labels.text",
        "default": "t:labels.testimonial-de"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:labels.authors_image"
      },
      {
        "type": "text",
        "id": "author",
        "label": "t:labels.author",
        "default": "t:labels.author-name"
      },
      {
        "type": "text",
        "id": "author_info",
        "label": "t:labels.author_info",
        "default": "t:labels.author_info-de"
      }
    ]
  }
],
"presets": [
  {
    "name": "t:labels.testimonials",
    "blocks": [
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      },
      {
        "type": "testimonial"
      }
    ]
  }
],
"disabled_on": {
  "groups": ["footer", "header", "custom.popups"]
}
}
{% endschema %}
